# Install this into /etc/systemd/system/

[Unit]
Description=No Bullshit Role React Discord Bot
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=donut
Environment="NODE_ENV=prod"
ExecStart=NODE_ENV=prod /usr/local/bin/node /srv/discord/ReactionRoleBot/index.js

[Install]
WantedBy=multi-user.target
