# Install this into /etc/systemd/system/

[Unit]
Description=No Bullshit Role React Discord Bot
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=<user>
Environment="NODE_ENV=prod"
ExecStart=/usr/bin/env nodejs /srv/discord/ReactionRoleBot/main.js

[Install]
WantedBy=multi-user.target
