# Install this into <your home dir>/.config/systemd/user/
# Enable with:
# loginctl enable-linger <your user here>
# systemctl --user enable reactionrolebot.service
# systemctl --user start reactionrolebot.service

[Unit]
Description=No Bullshit Role React Discord Bot
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
Environment="NODE_ENV=prod"
ExecStart=/usr/bin/env npm start --prefix <path/to/ReactionRoleBot>
# If using a custom config location, add the following:
#ExecStart=/usr/bin/env npm start --prefix <path/to/ReactionRoleBot> -- --config <path/to/config.json>
# If using nvm, you may need to do something like this instead:
#Environment="NODE_ENV=prod" "NODE_VERSION=<version>"
#ExecStart=<path to nvm-exec> npm start --prefix <path/to/ReactionRoleBot>

[Install]
WantedBy=default.target
